/* Classes */

.about-text-area {
  position: absolute; /* Allow precise positioning */
  top: 55%; /* 3/4 down the page */
  left: 4%; /* 1/3 from the left */
  width: 650px; /* Width of the text area */
  height: 300px;
  padding: 20px; /* Padding inside the text area */
  background-color: #98BAD3;
  color: #0C2135; /* Text color */
  font-size: 1.1rem; /* Font size for the paragraph */
  line-height: 1.25; /* Spacing between lines of text */
  z-index: 10; /* Ensure it's in front of the image and shape */
  border-radius: 8px; /* Rounded corners (optional) */
}

.background-container { /* Your background image fills the container */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;        /* Place the image "behind" the shape */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps the aspect ratio of your image */
}

.link {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.7s ease;
  width: 100%; /* Full width */
  height: 25vh; /* 20% of the viewport height */
}

.link:hover {
  background-color: #FFFAFA;
}

.link-colors-1 {
  background-color: #038BCA;
  color: #0C2135;
}

.link-colors-2 {
  background-color: #0C2135;
  color: #038BCA;

}

.links-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 93vh;
  z-index: 5;
}

.link-title-left {
  flex: 1;
  font-size: 6rem;
  font-family: "Courier New" Courier monospace;
  margin-left: 40px;
  text-align: left;
}

.link-title-right {
  flex: 1;
  font-family: "Courier New" Courier monospace;
  font-size: 6rem;
  margin-right: 40px;
  text-align: right;
}

.link-paragraph-left {
  flex: 1;
  font-size: 3rem;
  margin-left: 40px;
  text-align: left;
}

.link-paragraph-right {
  flex: 1;
  font-size: 3rem;
  margin-right: 40px;
  text-align: right;
}

.shape {              /* Refers to specifically the container of the shape */
	position: absolute; /* Absolute position allows the shape to be layered over parent, in this case the background-container */
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
  z-index: 2;
}

.shape svg {
	width: 100%;
	height: 400px;
}

.shape .shape-fill {
	fill: #0C2135;
}

/* IDs */

#top-area {
  position: relative;
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
}

