/* Map: General (applied everywhere), Accordian (for dropdown layouts), Custom (define content) */

/* == General == */
body {
  background-color: var(--secondary-color);
}

label::before {
  content: '+';
  margin-right: 10px;
  font-size: 36px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

/* == Accordian ==*/
.accordian {
  margin: 60px auto;
  width: 85%;
}

.accordian li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: var(--primary-color);
  /*box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);*/
}

.accordian li label {
  display: flex;
  align-items: center;
  color: #98BAD3;
  padding: 10px;
  /*font-size: 18px;*/
  font-weight: 500;
  cursor: pointer;
}

.accordian li ul li {
  list-style: initial;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.accordian h {
  font-size: 48px;
}

.accordian p {
  font-size: 24px;
}

.accordian .content {
  color: #98BAD3;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 10px 10px 20px;
}

.accordian input[type="radio"]:checked + label::before {
  content: '-';
}

.accordian h2 {
  font-size: 36px;
  text-decoration: underline;
  padding-bottom: 15px;
}

/* == Custom == */
.main-area {
  padding: 40px 0;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

