/*
Primary	    | #0C2135
Secondary   | #98BAD3
Contrast    | #038BCA
 */

body {
  background-color: #98BAD3;
}

label::before {
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

.accordian {
  margin: 60px auto;
  width: 85%;
}

.accordian li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: #0C2135;
  /*box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);*/
}

.accordian li label {
  display: flex;
  align-items: center;
  color: #98BAD3;
  padding: 10px;
  /*font-size: 18px;*/
  font-weight: 500;
  cursor: pointer;
}

.accordian h {
  font-size: 48px;
}

.accordian .content {
  color: #98BAD3;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordian input[type="radio"]:checked + label::before {
  content: '-';
}

.main-area {
  padding: 40px 0;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}

