<footer class="footer-container">
  <div class="footer-left">
    <a href="https://github.com/lacotus" target="_blank" rel="noopener noreferrer">
      <img src="../assets/images/github-logo.png" alt="GitHub Logo" class="footer-logo">
    </a>
    <a href="https://www.linkedin.com/in/lacotus/" target="_blank" rel="noopener noreferrer">
      <img src="../assets/images/linkedin-logo.png" alt="LinkedIn Logo" class="footer-logo">
    </a>
  </div>

  <div class="footer-right">
    &copy; 2023 Lacotus. All rights reserved.
  </div>
</footer>

