<!-- layouts/header.html -->
<header>
  <nav class="navbar">

    <a href="#" class="nav-branding">LACOTUS JON SPIESS-EBERSOLE</a>

    <ul class="nav-menu">
      <li class="nav-item">
        <a href="../pages/home.html" class="nav-link">home.</a>
      </li>
      <li class="nav-item">
        <a href="../pages/about.html" class="nav-link">about.</a>
      </li>
      <li class="nav-item">
        <a href="../pages/portfolio.html" class="nav-link">portfolio.</a>
      </li>
      <li class="nav-item">
        <a href="../pages/resume.html" class="nav-link">resume.</a>
      </li>
      <li class="nav-item">
        <a href="../pages/contact.html" class="nav-link">contact.</a>
      </li>
    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

  </nav>
</header>
